## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

.DS_Store
.prettierignore
style-guide.md
README-template.md