* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.container .backheader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35%;
  padding-bottom: 25.5px;
  padding-top: 25.5px;
}

.card {
  display: flex;
  flex-direction: row;
  width: min(700px, 90%);
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 15.5px;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.3);
  height: auto;
  margin-bottom: 30px;
}
.card .total {
  display: grid;
  grid-template: [row1-start] "legTip RespTip" auto [row1-end] [row2-start] "legTotal RespTotal" auto [row2-end] [row3-start] "reset reset" auto [row3-end]/auto auto;
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}
@media (max-width: 530px) {
  .card {
    flex-direction: column;
    min-width: 100%;
    flex: 1;
    z-index: 1;
  }
}

.bill,
.total {
  flex: 1;
}

.LtipA {
  grid-area: legTip;
  padding-bottom: 10px;
  padding-right: 30px;
  color: hsl(0, 0%, 100%);
  min-width: 30px;
  font-weight: bold;
  font-size: 12px;
  align-self: center;
  padding-right: 10px;
}

.RtipA {
  grid-area: RespTip;
  justify-self: center;
  align-self: center;
  color: rgb(38, 195, 174);
  font-size: 1.8rem;
  padding-bottom: 10px;
  font-weight: bold;
}

.Ltotal {
  grid-area: legTotal;
  padding-right: 30px;
  color: hsl(0, 0%, 100%);
  min-width: 30px;
  font-weight: bold;
  font-size: 12px;
  align-self: center;
  padding-right: 10px;
}

.Rtotal {
  grid-area: RespTotal;
  justify-self: center;
  align-self: center;
  color: rgb(38, 195, 174);
  font-size: 1.8rem;
  font-weight: bold;
}

.total p {
  color: hsl(189, 41%, 97%);
  opacity: 0.5;
  font-size: 10px;
}

.campo {
  text-align: right;
  border: none;
  outline: none;
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  padding: 5px 5px 5px 30px;
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  margin-top: 15px;
  border-radius: 5px;
  position: relative;
  border: 2px solid transparent;
}

.campo:focus {
  border: 2px solid rgb(38, 195, 174);
}

.campo.active {
  border: 2px solid red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

::-moz-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 0.5;
}

::placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 0.5;
}

.campo-container {
  position: relative;
  margin-bottom: 30px;
}

.cifrao {
  position: absolute;
  left: 10px;
  top: 75%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
  width: -50%;
}

.legenda {
  color: hsl(186, 14%, 43%);
  font-size: 10px;
  font-weight: bold;
  padding-left: 5px;
}

.rebutton {
  grid-area: reset;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  align-items: start;
  display: flex;
  width: 100%;
  cursor: pointer;
  background-color: rgb(38, 195, 174);
  font-family: "Space Mono", monospace;
  border-radius: 3px;
  height: 20%;
  border: none;
  font-size: 15px;
  color: hsl(183, 100%, 15%);
  padding: 15.5px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-weight: bold;
}

.bill {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 10px 10px;
  width: 100%;
}

.seltipb {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.percbutton {
  color: hsl(0, 0%, 100%);
  background-color: hsl(183, 100%, 15%);
  padding: 5px;
  width: 90px;
  margin: 0;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.percbutton:last-child {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: right;
  cursor: auto;
  border: none;
}
.percbutton:last-child:focus {
  outline: none;
}

.percbutton.active:not(:last-child) {
  background-color: rgb(38, 195, 174);
  color: hsl(183, 100%, 15%);
}

.percbutton::-moz-placeholder {
  text-align: center;
  opacity: 0.6;
}

.percbutton::placeholder {
  text-align: center;
  opacity: 0.6;
}

.percbutton:hover:not(:last-child) {
  background-color: rgb(38, 195, 174);
  color: hsl(183, 100%, 15%);
}

.seltip p {
  color: hsl(186, 14%, 43%);
  font-size: 10px;
  font-weight: bold;
  opacity: 1;
  padding-left: 5px;
}

.iconp {
  position: absolute;
  left: 10px;
  top: 80%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
  width: -50%;
}

.campo-container.numberp {
  margin-top: 30px;
}

.error-message {
  font-weight: 700;
  color: red;
  letter-spacing: 2px;
  display: none;
  font-size: 9px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  padding-right: 10px;
  text-align: right;
  padding: 0;
  top: 35%;
}

.footer {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: center;
  flex: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */