// Color Variables

$cardTotalColor: hsl(183, 100%, 15%);
$color1: hsl(186, 14%, 43%);
$color2: hsl(184, 14%, 56%);
$backColor: hsl(185, 41%, 84%);
$color3: hsl(189, 41%, 97%);
$backCalcColor: hsl(0, 0%, 100%);
$cyan: rgb(38,195,174);

// Font Variables

$mainFont: 'Space Mono', monospace;

// Page Body

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $backColor;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: $mainFont;
    height: 100%;
    align-items: center;

    .backheader {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
    }
}